*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --dark: rgb(34, 34, 34);
  --buff: hsla(27, 64%, 65%, 1);
  --bistre: hsla(10, 31%, 19%, 1);
  --white: rgb(255, 255, 255);
  --bg_color: rgb(26, 26, 26);
  --bg_hover: #292929;
  --bg_selected: #553e13;
  --bg_selected_hover: #6d4f18;
  

  --background-color: var(--white);
  --accent-color: var(--dark);
  background-color: var(--background-color);
}


.site-header .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.container {
  clear: both;
}

.navigBG {
  background-color: #1f1f1f;
}

.site-header .navbar-nav .nav-link:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.wrapper  {
  max-width: min(800px, 100% - 4rem);
  margin-inline: auto;
  clear: both;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button:focus,
button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

.error-message {
  border: 2px solid var(--buff);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.game-container {
  border: 2px solid var(--accent-color);
  margin: 1rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 150px;
  border-radius: 5px;
}

.game-container p,
.game-container h2 {
  margin: 0;
  font-size: 1.5rem;
}
