*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --dark: rgb(34, 34, 34);
  --buff: hsla(27, 64%, 65%, 1);
  --bistre: hsla(10, 31%, 19%, 1);
  --white: rgb(255, 255, 255);
  --bg_color: rgb(26, 26, 26);
  --bg_hover: #292929;

  --background-color: var(--white);
  --accent-color: var(--dark);
  background-color: var(--background-color);
}


.site-header .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.container {
  clear: both;
}

.navigBG {
  background-color: #1f1f1f;
}

.site-header .navbar-nav .nav-link:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.wrapper  {
  max-width: min(800px, 100% - 4rem);
  margin-inline: auto;
  clear: both;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button:focus,
button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

.error-message {
  border: 2px solid var(--buff);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.game-container {
  border: 2px solid var(--accent-color);
  margin: 1rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 150px;
  border-radius: 5px;
}

.game-container p,
.game-container h2 {
  margin: 0;
  font-size: 1.5rem;
}

/*----Chatrooms----*/
.chatroom-display {
  background-color: var(--bg_color);
  border-radius: 15px;
  margin: 20px
}

.chatroom-cont {
  border-radius: 15px;
  padding: 10px;
}

.chatroom-cont h2 {
  color: white;
}

.chatroom-cont p {
  color: rgb(255, 255, 255);
  font-size: small;
}

.chatroom-cont:hover {
  background-color: var(--bg_hover);
  text-decoration: none;
}

.chatroom-label {
  text-align: center;
}

/*----Messages----*/
.messages {
   background-color: var(--bg_color);
   padding-top: 20px;
   border-radius: 15px;
}

.msg {
  padding-left: 20px;
  padding-right: 20px;
}

.msg_desc {
  display: flex;
  align-items: center;
}

.messages .spacing {
  padding: 5px;
}

.messages p {
  color: white;
}

.messages h5{
  color: white;
  font-size: 110%;
}

.messages h5, h6 {
  align-self: flex-end;
}

.messages h6 {
  color: gray;
  font-size: 75%;
}

.trash_icon {
  display: none;
  color: rgb(209, 209, 209);
  font-size: 90%;
  cursor: pointer;
}

.msg:hover .trash_icon {
  display: inline-block;
}

.trash_icon:hover {
  color: #a0a0a0;
}

.msg:hover {
  background-color: var(--bg_hover);
}

.SendMsgForm {
  display: flex;
  height: 45px;
  align-items: center;
}

.msgToSend {
  width: 80%;
  height: 100%;
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-bottom: 5px;
  background-color: var(--bg_hover);
  border-radius: 0px 0px 0px 15px;
  border: 0px;
  resize: none;
  overflow-y: hidden;
}

.msgToSend:focus { 
  outline: none;
}

.msgSubmit {
  color: white;
  width: 20%;
  height: 100%;
  background-color: #141414;
  outline: none;
  border: 0px;
  border-radius: 0px 0px 15px 0px;
}

.msgSubmit:hover, .msgSubmit:focus {
  background-color: #3e3e3e;
  outline: none;
}