*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --dark: rgb(34, 34, 34);
  --buff: hsla(27, 64%, 65%, 1);
  --bistre: hsla(10, 31%, 19%, 1);
  --white: rgb(255, 255, 255);
  --bg_color: rgb(26, 26, 26);
  --bg_hover: #292929;

  --background-color: var(--white);
  --accent-color: var(--dark);
  background-color: var(--background-color);
}


.site-header .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.container {
  clear: both;
}

.navigBG {
  background-color: #1f1f1f;
}

.site-header .navbar-nav .nav-link:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.wrapper  {
  max-width: min(800px, 100% - 4rem);
  margin-inline: auto;
  clear: both;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  border-radius: 5px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background: var(--background-color);
}
button:focus,
button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

.error-message {
  border: 2px solid var(--buff);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

form input {
  display: block;
  margin: .5rem 0 1rem 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  font-size: 1rem;
}

form label {
  margin-left: 1rem;
  display: block;
  height: 0;
  width: fit-content;
  position: relative;
  z-index: 1;
}
form label::before,
form label::after {
  content: '';
  position: absolute;
  height: 1.65rem;
  top: -.25rem;
  left: -5px;
  width: calc(100% + 10px);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: white;
  z-index: -1;
}

form button {
  margin-right: 1rem;
}
form button[type=button] {
  border-color: var(--background-color);
}
form button[type=button]:focus,
form button[type=button]:hover {
  border-color: var(--accent-color);
}

.game-container {
  border: 2px solid var(--accent-color);
  margin: 1rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 150px;
  border-radius: 5px;
}

.game-container p,
.game-container h2 {
  margin: 0;
  font-size: 1.5rem;
}

/*----Chatrooms----*/
.chatroom-display {
  background-color: var(--bg_color);
  border-radius: 15px;
  margin: 20px
}

.chatroom-cont {
  border-radius: 15px;
  padding: 10px;
}

.chatroom-cont h2 {
  color: white;
}

.chatroom-cont p {
  color: rgb(255, 255, 255);
  font-size: small;
}

.chatroom-cont:hover {
  background-color: var(--bg_hover);
  text-decoration: none;
}

.chatroom-label {
  text-align: center;
}

/*----Messages----*/
.messages {
   background-color: var(--bg_color);
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 15px;
}

.msg {
  padding-left: 10px;
}

.msg_desc {
  display: flex;
  align-items: center;
}

.messages .spacing {
  padding: 5px;
}

.messages p {
  color: white;
}

.messages h5{
  color: white;
  font-size: 110%;
}

.messages h5, h6 {
  align-self: flex-end;
}

.messages h6 {
  color: gray;
  font-size: 75%;
}

.trash_icon {
  display: none;
  color: rgb(209, 209, 209);
  font-size: 90%;
  cursor: pointer;
}

.msg:hover .trash_icon {
  display: inline-block;
}

.trash_icon:hover {
  color: #a0a0a0;
}

.msg:hover {
  background-color: var(--bg_hover);
}